html, body {
	margin: 0;
	height: 100%;
  }
  
  body {
	background-color: #7ab2e7;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
  }

  p {
	color: white;
	font-family: 'Oxygen', sans-serif;
	padding-left: 20px;
	padding-right: 20px;
  }
  
  #app {
	position: relative;
	height: 100%;
	width: 100%;
	padding-top: 10px;
  }
  
  #app div {
	width: 100%;
  }
  
  #app div div {
	height: 100%;
  }
  
  #app div div div {
	position: relative;
	height: auto;
  }
  
  h1, h2, h3 {
	color: white;
	font-family: 'Oxygen', sans-serif;
	margin-left: 5%;
	margin-right: 5%;
  }

  header h1 {
	font-size: 3.5em;
  }
  
  ul {
	list-style-type: none;
	padding: 0;
  }
  
  label {
	display: block;
	margin: 20px;
	font-size: 30px;
	font-weight: bold;
  }
  
  nav a {
	margin:12px;
	text-transform: uppercase;
	font-size: 10px;
  }
  
  button {
	-webkit-transition-duration: 0.1s; /* Safari */
	transition-duration: 0.1s;
	background-color: #F4595B;
	border-radius: 8px;
	border-bottom: 4px solid #C24648;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
	letter-spacing: 2px;
  }
  
  button:hover {
	background-color: #FF7375;
	border: none;
	border-radius: 8px;
	border-bottom: 4px solid #C24648;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
	letter-spacing: 2px;
  }
  
  button:active {
	background-color: #C24648;
	border: none;
	border-radius: 8px;
	border-bottom: 4px solid #C24648;
	color: #CCC;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
	letter-spacing: 2px;
  }
  
  img {
	max-width: 90%;
	max-height: 340px;
	top: 5%;
	left: 5%;
  }

  .myForm {
	font-family: 'Oxygen', sans-serif;
	font-size: 0.8em;
	width: 50em;
	padding: 1em;
	border: 1px solid #ccc;
  }
	
	.myForm * {
	box-sizing: border-box;
  }
	
	.myForm fieldset {
	border: none;
	padding: 0;
  }
	
	.myForm legend,
	.myForm label {
	padding: 0;
	font-weight: bold;
  }
	
	.myForm label.choice {
	font-size: 0.8em;
	font-weight: normal;
  }
	
	.myForm input[type="text"],
	.myForm input[type="tel"],
	.myForm input[type="email"],
	.myForm input[type="datetime-local"],
	.myForm select,
	.myForm textarea {
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	font-family: 'Oxygen', sans-serif;
	font-size: 0.6em;
	padding: 0.3em;
  }
	
	.myForm textarea {
	height: 100px;
  }

	.form-center {
	display:flex;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
  }

    .vertical {
	resize: vertical;
  }